.footer {
    background-color: rgb(143, 176, 146);
    margin: auto;
    padding: 5rem;
    text-align: center;
}

.footer ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center; /* Horizontally centers the container */
}
