.moreinfo {
    background-color: #ffebdf;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem;
}

.more-images {
    display: flex; /* Use flexbox to align items horizontally */
    flex-direction: row;
    gap: 3rem; /* Add space between the more-images */
    justify-content: center; /* Center images horizontally in their container */
    flex-wrap: wrap;
}

.more-images img {
    max-width: 25rem; /* Set a fixed width for the images */
    max-height: 25rem; /* Set a fixed height for the images */
    object-fit: contain; /* Ensure the whole image fits within the container without cropping */
    width: auto; /* Allow the image to scale proportionally */
    height: auto; /* Maintain the aspect ratio */
}
