.intro {
    margin: auto;
    max-width: 830px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10rem;
  }

.headshot {
    max-width: 250px;
    border-radius: 50%;
}

