.nav {
    background-color: rgb(165, 203, 169);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav a {
    text-decoration: none;
  }
