.nav {
  background-color: rgb(149, 224, 245);
}

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2rem;
  gap: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
  display: flex;
  padding-top: 6rem;
  padding-bottom: 1.5rem;
}

