.nav {
  background-color: rgb(22, 33, 58);
}

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 2rem;
  gap: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

